<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<Pattern>gakkai %d{MM/dd HH:mm:ss.SSS} %t %-5p %c{64} - %m%n
			</Pattern>
		</encoder>
	</appender>

	<!-- log4jdbc-log4j2 -->
	<logger name="jdbc.sqlonly">
		<level value="OFF" />
	</logger>
	<logger name="jdbc.sqltiming">
		<level value="ERROR" />
	</logger>
	<logger name="jdbc.audit">
		<level value="OFF" />
	</logger>
	<logger name="jdbc.resultset">
		<level value="OFF" />
	</logger>
	<logger name="jdbc.resultsettable">
		<level value="OFF" />
	</logger>

	<logger name="jdbc.connection">
		<level value="INFO" />
	</logger>

	<!-- root -->
	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>


</configuration>